.movie {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.movie__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.movie__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0;
}

.movie__trailer-button {
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.movie__trailer-button:hover {
  transition: 0.3s all ease;
  transform: scale(1.05);
}

.movie__button {
  background-color: #f9f9f9;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 8px 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.movie__image {
  width: 100%;
  height: 151px;
}

.movie__button_delete {
  opacity: 0;
}

.movie__button_delete:hover {
  opacity: 1;
}

.movie__time {
  margin: 0;
  padding-top: 6px;
  border-top: 1px solid #e8e8e8;
  font-size: 11px;
  line-height: 1.21;
  font-weight: 400;
  color: #a0a0a0;
}

@media screen and (max-width: 768px) {
  .movie__image {
    height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .movie {
    gap: 15px;
  }

  .movie__title {
    font-size: 12px;
  }

  .movie__caption {
    margin-bottom: 14px;
  }

  .movie__time {
    font-size: 10px;
  }

  .movie__button_delete {
    opacity: 1;
  }

  .movie__image {
    height: 168px;
  }
}

