.project {
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
}

.project__title {
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  margin: 0 0 70px 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  align-self: flex-start;
  width: 100%;
}

.project__text-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  column-gap: 40px;
  row-gap: 26px;
  margin: 0 0 110px 0;
}

.project__info-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
  margin: 0;
  order: -1;
}

.project__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  margin: 0;
}

.project__timeline {
  display: grid;
  grid-template-columns: 1fr 4fr;
  list-style: none;
  row-gap: 14px;
  padding: 0;
  width: 100%;
  margin: 0;
}

.project__interval {
  background-color: #2be080;
  padding: 14px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__interval_type_long {
  background-color: #f2f2f2;
}

.project__interval-text {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.project__caption {
  color: #A0A0A0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .project {
    padding: 90px 50px;
    width: 100%;
  }

  .project__interval {
    padding: 9px 10px;
  }

  .project__text-info {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 22px;
  }

  .project__description {
    font-size: 12px;
  }

  .project__caption {
    font-weight: 400;
  }
}

@media screen and (max-width: 320px) {
  .project {
    padding: 70px 18px 69px 18px;
  }

  .project__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .project__text-info {
    grid-template-columns: 1fr;
    row-gap: 16px;
    margin-bottom: 4px;
  }

  .project__info-title {
    order: 0;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .project__description {
    font-size: 11px;
    line-height: 1.45;
    margin-bottom: 56px;
  }

  .project__interval-text {
    font-size: 11px;
  }

  .project__timeline {
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
  }

  .project__interval {
    padding: 11px 10px;
  }

  .project__caption {
    font-size: 11px;
  }
}